<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<div class="container-fluid">
  <div class="row">
    <h1 id="pageHeader">Trans Rally</h1>
  </div>
  <div class="row">
    <div class="col">
      <p id="introText">
        We are Trans Rally, a member-owned community organization. Our goal is to provide 
        substantive benefits for our members. We are currently undergoing a transition to 
        incorporate as a non-profit. Rally together with us!
      </p>
    </div>
  </div>
</div>
<br />

<br />

<div class="container-fluid blurbs">
  <div class="row">
    <h2>We Will Support</h2>
  </div>
  <div class="row">
    <div class="col">
      <h3>Our Members</h3>
      <p>
        Our members are the center of everything we do. 
        We seek to serve our members ways that help them!
      </p>
    </div>
    <div class="col">
      <h3>Allied Organizations</h3>
      <p>
        Organizations that do important work need help, too. We hope to
        provide funding and meaningful support to allied organizations!
      </p>
    </div>
      </p>
    </div>
  </div>
</div>
